<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DataConfigurations" type="FIXLogFileTransformation.DataConfigurations, FIXLogFileTransformation">
		</section>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<DataConfigurations>
		<DataConfiguration Key="sreclr">
			<degreeOfParellelism>1</degreeOfParellelism>
			<fixInFiles Key="Succession" Path="D:/OneDrive/OneDrive - Logiciel Services LLC/Desktop/Clearing/%DATE%/Messages/VCLRDCP_STRDCP.log" DateFormat="yyyy-MM-dd "/>
			<!--<fixInFiles Key="PrimeBrokerage" Path="D:\\repos\\TradeAnalysisProject\\TradeAnalysisProject\\bin\\Debug\\net6.0\\FIXINT_SRECLR_%DATE%.log" DateFormat="yyyy-MM-dd" />-->
			<!-- <fixInFile>D:\\OneDrive\\OneDrive - Logiciel Services LLC\\Tickets\\LOGICIEL-3229\\VCTBANF_STRNBANF\\VCTINT01_SSYS.log</fixInFile> -->
			<fixInFileDateFormat>yyyyMMdd</fixInFileDateFormat>
			<!--<fixInFileSeperator>|</fixInFileSeperator>-->

			<fixOutFile>..\\origVCTH_%DATE%.log</fixOutFile>
			<fixOutFileDateFormat>yyyyMMdd</fixOutFileDateFormat>
			<fixOutFileCreate>false</fixOutFileCreate>

			<connectionString>Server=muhammad-noman;Database=TradeAnalysis;Trusted_Connection=True;</connectionString>

			<outFile>D:\repos\TradeAnalysisProject\TradeAnalysisProject\bin\Debug\net6.0\%DATE%_SRE_Messages.txt</outFile>
			<!-- <outFile>D:\\OneDrive\\OneDrive - Logiciel Services LLC\\Tickets\\LOGICIEL-3229\\VCTINT01_SSYS\\VCTBANF_Messages.txt</outFile> -->
			<outFileDateFormat>yyyy-MM-dd</outFileDateFormat>

			<msgSeqNumTag>34</msgSeqNumTag>
			<possDupFlagTag>43</possDupFlagTag>

			<tagSeperator>,</tagSeperator>
			<mpidTAG>35</mpidTAG>
			<mpidToCheck>8</mpidToCheck>

			<checkDupes>1</checkDupes>
			<!-- 1 = true -->

			<NewOrderTag>150</NewOrderTag>
			<NewOrderTagValues>0</NewOrderTagValues>

			<preSortingTags>34</preSortingTags>
			<!-- <postSortingTags></postSortingTags> -->

			<addDay>0</addDay>
			<addHour>-8</addHour>
			<addMinutes>0</addMinutes>
			<addSeconds>0</addSeconds>

			<!-- <sortTAG></sortTAG> -->
			<!-- <clOrdIdTag>11</clOrdIdTag> -->
			<!-- <clParentOrdIdTag>41</clParentOrdIdTag> -->
			<!-- <mpidSortSeperator>,</mpidSortSeperator> -->
			<!-- <separateLegs>0</separateLegs>   -->
			<!-- 0 = false -->
			<!-- <legIdTag>654</legIdTag> -->
		</DataConfiguration>
		<!--<DataConfiguration Key="sreclrexec">
			<fixInFile>E:/Reporting/FIXOrderLifeCycleFiles/Non-Reportable_{DATE}VCTY_Messages.txt</fixInFile>
			-->
		<!-- <fixInFile>D:\\OneDrive\\OneDrive - Logiciel Services LLC\\Tickets\\LOGICIEL-3229\\VCTBANF_STRNBANF\\VCTINT01_SSYS.log</fixInFile> -->
		<!--
			<fixInFileDateFormat>yyyyMMdd</fixInFileDateFormat>
			-->
		<!--<fixInFileSeperator>|</fixInFileSeperator>-->
		<!--

			<fixOutFile>..\\origVCTH_%DATE%.log</fixOutFile>
			<fixOutFileDateFormat>yyyyMMdd</fixOutFileDateFormat>
			<fixOutFileCreate>false</fixOutFileCreate>

			<outFile>E:/Reporting/FIXOrderLifeCycleFiles/{DATE}_NON_VCTY_Messages.txt</outFile>
			-->
		<!-- <outFile>D:\\OneDrive\\OneDrive - Logiciel Services LLC\\Tickets\\LOGICIEL-3229\\VCTINT01_SSYS\\VCTBANF_Messages.txt</outFile> -->
		<!--
			<outFileDateFormat>yyyy-MM-dd</outFileDateFormat>

			<msgSeqNumTag>34</msgSeqNumTag>
			<possDupFlagTag>43</possDupFlagTag>

			<tagSeperator>,</tagSeperator>
			<mpidTAG>35</mpidTAG>
			<mpidToCheck>8</mpidToCheck>

			<checkDupes>0</checkDupes>
			-->
		<!-- 1 = true -->
		<!--

			<NewOrderTag>150</NewOrderTag>
			<NewOrderTagValues>1</NewOrderTagValues>

			<preSortingTags>34</preSortingTags>
			-->
		<!-- <postSortingTags></postSortingTags> -->
		<!--

			<addDay>0</addDay>
			<addHour>-8</addHour>
			<addMinutes>0</addMinutes>
			<addSeconds>0</addSeconds>

			-->
		<!-- <sortTAG></sortTAG> -->
		<!--
			<clOrdIdTag>37</clOrdIdTag>
			<clParentOrdIdTag>999999</clParentOrdIdTag>
			-->
		<!-- <mpidSortSeperator>,</mpidSortSeperator> -->
		<!--
			-->
		<!-- <separateLegs>0</separateLegs>   -->
		<!--
			-->
		<!-- 0 = false -->
		<!--
			-->
		<!-- <legIdTag>654</legIdTag> -->
		<!--
		</DataConfiguration>-->
	</DataConfigurations>
</configuration>
